In [29]:
from pyspark.sql import SparkSession, functions as fn
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [30]:
spark = SparkSession.builder \
.master("local") \
.appName("aggregate_df4") \
.getOrCreate()

In [31]:
simpleData = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
schema = ["employee_name", "department", "salary"]

In [32]:
df1 = spark.createDataFrame(data=simpleData, schema=schema)

In [33]:
print("approx_count_distinct:", str(df1.select(approx_count_distinct("salary")).collect()[0][0]))

approx_count_distinct: 6

In [34]:
df1.select(collect_list("salary")).show()

+--------------------+
|collect_list(salary)|
+--------------------+
|[3000, 4600, 4100...|
+--------------------+

In [35]:
df1.select(countDistinct("department","salary")).show()

+----------------------------------+
|count(DISTINCT department, salary)|
+----------------------------------+
|                                 8|
+----------------------------------+

In [36]:
df1.select(first("salary"),last("salary"),kurtosis("salary")).show()

+-------------+------------+-------------------+
|first(salary)|last(salary)|   kurtosis(salary)|
+-------------+------------+-------------------+
|         3000|        4100|-0.6467803030303032|
+-------------+------------+-------------------+

In [37]:
df1.select(max("salary"),min("salary"),mean("salary")).show()

+-----------+-----------+-----------+
|max(salary)|min(salary)|avg(salary)|
+-----------+-----------+-----------+
|       4600|       2000|     3400.0|
+-----------+-----------+-----------+

In [38]:
df1.select(sum("salary"),sumDistinct("salary"),skewness("salary")).show()

+-----------+--------------------+--------------------+
|sum(salary)|sum(DISTINCT salary)|    skewness(salary)|
+-----------+--------------------+--------------------+
|      34000|               20900|-0.12041791181069585|
+-----------+--------------------+--------------------+