In [7]:
from pyspark.sql import SparkSession, functions as fn
from pyspark.sql.types import *
from pyspark.sql.functions import avg, sum, min, max, mean, count, expr

In [8]:
spark = SparkSession.builder \
.master("local") \
.appName("aggregate_df2") \
.getOrCreate()

In [9]:
df1 = spark.read \
.format("csv") \
.option("header", True) \
.option("inferSChema", True) \
.option("path", "D:\\BigData\\Week12- Apache Spark - Structured API Part-2\\order_data.csv") \
.load()

In [12]:
# column object expression
df1.groupBy("Country", "InvoiceNo") \
.agg(sum("Quantity").alias("TotalQuantity"),
    sum(expr("Quantity * UnitPrice")).alias("invoiceValues")).show(5)

+--------------+---------+-------------+------------------+
|       Country|InvoiceNo|TotalQuantity|     invoiceValues|
+--------------+---------+-------------+------------------+
|United Kingdom|   536446|          329|            440.89|
|United Kingdom|   536508|          216|            155.52|
|United Kingdom|   537811|           74|            268.86|
|United Kingdom|   538895|          370|            247.38|
|United Kingdom|   540453|          341|302.44999999999993|
+--------------+---------+-------------+------------------+
only showing top 5 rows

In [17]:
# column string expression
df1.groupBy("Country", "InvoiceNo") \
.agg(expr("sum(Quantity) as TotalQuantity"),
    expr("sum(Quantity * UnitPrice) as invoiceValues")).show(5)

+--------------+---------+-------------+------------------+
|       Country|InvoiceNo|TotalQuantity|     invoiceValues|
+--------------+---------+-------------+------------------+
|United Kingdom|   536446|          329|            440.89|
|United Kingdom|   536508|          216|            155.52|
|United Kingdom|   537811|           74|            268.86|
|United Kingdom|   538895|          370|            247.38|
|United Kingdom|   540453|          341|302.44999999999993|
+--------------+---------+-------------+------------------+
only showing top 5 rows

In [19]:
# spark sql
df1.createOrReplaceTempView("orders")
spark.sql("select sum(Quantity) as TotalQuantity, sum(Quantity*UnitPrice) as invoiceValues from orders group By Country, InvoiceNo").show(5)

+-------------+------------------+
|TotalQuantity|     invoiceValues|
+-------------+------------------+
|          329|            440.89|
|          216|            155.52|
|           74|            268.86|
|          370|            247.38|
|          341|302.44999999999993|
+-------------+------------------+
only showing top 5 rows