In [16]:
from pyspark.sql import SparkSession, functions as fn
from pyspark.sql.functions import sum,avg,max,min,mean,count

In [17]:
spark = SparkSession.builder \
.master("local") \
.appName("bigdata_campaign_price_df") \
.getOrCreate()

In [18]:
df1 = spark.read \
.format("csv") \
.option("inferSchema", True) \
.option("path", "D:\\BigData\\Week10- Apache Spark - In Depth\\bigdatacampaigndata.csv") \
.load()

In [19]:
df1.show(5)

+--------------------+-----------+----+--------------------+--------------+---+---+----+---+-----+-----+----+----+----+------+
|                 _c0|        _c1| _c2|                 _c3|           _c4|_c5|_c6| _c7|_c8|  _c9| _c10|_c11|_c12|_c13|  _c14|
+--------------------+-----------+----+--------------------+--------------+---+---+----+---+-----+-----+----+----+----+------+
|   big data contents|Broad match|None|TrendyTech Search...|Broad Match #3|  1|  1|100%|INR|24.06|24.06|   0|   0|  0%|Search|
|spark training wi...|Broad match|None|TrendyTech Search...|Broad Match #3|  1|  2|200%|INR|29.97|59.94|   0|   0|  0%|Search|
|online hadoop tra...|Broad match|None|TrendyTech Search...|Broad Match #3|  1|  1|100%|INR|28.45|28.45|   0|   0|  0%|Search|
|coursera data ana...|Broad match|None|TrendyTech Search...|Broad Match #3|  1|  1|100%|INR|24.64|24.64|   0|   0|  0%|Search|
|ameerpet big data...|Broad match|None|TrendyTech Search...|Broad Match #3|  2|  1| 50%|INR|34.86|34.86|   0|   0|  0%|Search|
+--------------------+-----------+----+--------------------+--------------+---+---+----+---+-----+-----+----+----+----+------+
only showing top 5 rows

In [35]:
df2 = df1.withColumn('word', fn.explode(fn.split(fn.col('_c0'), ' ')))\
    .groupBy('word').agg(sum('_c10').alias("count")).sort("count",ascending=False)

In [37]:
df2.show(5)

+------+------------------+
|  word|             count|
+------+------------------+
|  data|16394.640000000003|
|   big| 12889.28000000001|
|    in| 5774.839999999997|
|hadoop| 4818.339999999999|
|course|           4191.59|
+------+------------------+
only showing top 5 rows

In [38]:
df3 = df1.withColumn('word', fn.explode(fn.split(fn.col('_c0'), ' ')))

In [40]:
df3.createOrReplaceTempView("price")

In [45]:
df4 = spark.sql("select word, sum(_c10) as count from price group by word order by count desc")

In [46]:
df4.show(5)

+------+------------------+
|  word|             count|
+------+------------------+
|  data|16394.640000000003|
|   big| 12889.28000000001|
|    in| 5774.839999999997|
|hadoop| 4818.339999999999|
|course|           4191.59|
+------+------------------+
only showing top 5 rows