In [2]:
from pyspark.sql import SparkSession, functions as fn
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
spark = SparkSession.builder \
.master("local") \
.appName("countDistinct_df") \
.getOrCreate()

In [4]:
data = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
columns = ["Name","Dept","Salary"]

In [5]:
df1 = spark.createDataFrame(data=data, schema=columns)

In [6]:
df1.select(countDistinct("Dept","Salary")).show()

+----------------------------+
|count(DISTINCT Dept, Salary)|
+----------------------------+
|                           8|
+----------------------------+

In [13]:
df1.createOrReplaceTempView("person")
spark.sql("select distinct(count(Salary)) from person").show()

+-------------+
|count(Salary)|
+-------------+
|           10|
+-------------+