In [1]:
from pyspark.sql import SparkSession, functions as fn
from pyspark.sql.functions import avg, sum, min, mean, max, count, expr
from pyspark.sql.types import *

In [2]:
spark = SparkSession.builder \
.master("local") \
.appName("join_df1") \
.getOrCreate()

In [3]:
df1 = spark.read \
.format("csv") \
.option("inferSchema", True) \
.option("header",True) \
.option("path", "D:\\BigData\\Week12- Apache Spark - Structured API Part-2\\orders.csv") \
.load()

In [4]:
df2 = spark.read \
.format("csv") \
.option("inferSchema", True) \
.option("header",True) \
.option("path", "D:\\BigData\\Week12- Apache Spark - Structured API Part-2\\customers.csv") \
.load()

In [7]:
df3 = df1.join(df2, df1.order_customer_id==df2.customer_id,"right")

In [8]:
df3.show(10)

+--------+--------------------+-----------------+---------------+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|order_id|          order_date|order_customer_id|   order_status|customer_id|customer_fname|customer_lname|customer_email|customer_password|     customer_street|customer_city|customer_state|customer_zipcode|
+--------+--------------------+-----------------+---------------+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|    null|                null|             null|           null|          1|       Richard|     Hernandez|     XXXXXXXXX|        XXXXXXXXX|  6303 Heather Plaza|  Brownsville|            TX|           78521|
|   67863|2013-11-30 00:00:...|                2|       COMPLETE|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|
|   57963|2013-08-02 00:00:...|                2|        ON_HOLD|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|
|   33865|2014-02-18 00:00:...|                2|       COMPLETE|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|
|   15192|2013-10-29 00:00:...|                2|PENDING_PAYMENT|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|
|   61453|2013-12-14 00:00:...|                3|       COMPLETE|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
|   57617|2014-07-24 00:00:...|                3|       COMPLETE|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
|   56178|2014-07-15 00:00:...|                3|        PENDING|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
|   46399|2014-05-09 00:00:...|                3|     PROCESSING|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
|   35158|2014-02-26 00:00:...|                3|       COMPLETE|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
+--------+--------------------+-----------------+---------------+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
only showing top 10 rows

In [10]:
df1.createOrReplaceTempView("orders")
df2.createOrReplaceTempView("customers")
spark.sql("select o.*, c.* from orders o right outer join customers c on o.order_customer_id=c.customer_id").show(10)

+--------+--------------------+-----------------+---------------+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|order_id|          order_date|order_customer_id|   order_status|customer_id|customer_fname|customer_lname|customer_email|customer_password|     customer_street|customer_city|customer_state|customer_zipcode|
+--------+--------------------+-----------------+---------------+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|    null|                null|             null|           null|          1|       Richard|     Hernandez|     XXXXXXXXX|        XXXXXXXXX|  6303 Heather Plaza|  Brownsville|            TX|           78521|
|   67863|2013-11-30 00:00:...|                2|       COMPLETE|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|
|   57963|2013-08-02 00:00:...|                2|        ON_HOLD|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|
|   33865|2014-02-18 00:00:...|                2|       COMPLETE|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|
|   15192|2013-10-29 00:00:...|                2|PENDING_PAYMENT|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|
|   61453|2013-12-14 00:00:...|                3|       COMPLETE|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
|   57617|2014-07-24 00:00:...|                3|       COMPLETE|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
|   56178|2014-07-15 00:00:...|                3|        PENDING|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
|   46399|2014-05-09 00:00:...|                3|     PROCESSING|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
|   35158|2014-02-26 00:00:...|                3|       COMPLETE|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
+--------+--------------------+-----------------+---------------+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
only showing top 10 rows