In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder \
.master("local") \
.appName("join_on_multiple_df") \
.getOrCreate()

In [3]:
emp_data = [(1,"Smith","10"),
    (2,"Rose","20"),
    (3,"Williams","10"),
    (4,"Jones","10"),
    (5,"Brown","40"),
    (6,"Brown","50")
      ]
empColumns = ("emp_id","name","emp_dept_id")
emp = spark.createDataFrame(data=emp_data, schema=empColumns)

In [4]:
dept_data = [("Finance",10),
    ("Marketing",20),
    ("Sales",30),
    ("IT",40)
            ]
deptColumns = ("dept_name","dept_id")
dept = spark.createDataFrame(data=dept_data, schema=deptColumns)

In [5]:
address_data = [(1,"1523 Main St","SFO","CA"),
    (2,"3453 Orange St","SFO","NY"),
    (3,"34 Warner St","Jersey","NJ"),
    (4,"221 Cavalier St","Newark","DE"),
    (5,"789 Walnut St","Sandiago","CA")
               ]
addColumns = ("emp_id","addline1","city","state")
address = spark.createDataFrame(data=address_data, schema=addColumns)

In [6]:
emp.join(dept,emp.emp_dept_id == dept.dept_id,"inner") \
.join(address, emp.emp_id == address.emp_id,"inner").show()

+------+--------+-----------+---------+-------+------+---------------+--------+-----+
|emp_id|    name|emp_dept_id|dept_name|dept_id|emp_id|       addline1|    city|state|
+------+--------+-----------+---------+-------+------+---------------+--------+-----+
|     5|   Brown|         40|       IT|     40|     5|  789 Walnut St|Sandiago|   CA|
|     1|   Smith|         10|  Finance|     10|     1|   1523 Main St|     SFO|   CA|
|     3|Williams|         10|  Finance|     10|     3|   34 Warner St|  Jersey|   NJ|
|     2|    Rose|         20|Marketing|     20|     2| 3453 Orange St|     SFO|   NY|
|     4|   Jones|         10|  Finance|     10|     4|221 Cavalier St|  Newark|   DE|
+------+--------+-----------+---------+-------+------+---------------+--------+-----+