In [34]:
from pyspark.sql import SparkSession, functions as fn
from pyspark.sql.functions import avg, sum, min, max, count, mean
from pyspark.sql.types import StringType

In [35]:
spark = SparkSession.builder \
.master("local") \
.appName("log_level_df") \
.getOrCreate()

In [45]:
df1 = spark.read \
.format("csv") \
.option("delimiter",":") \
.option("inferSchema", True) \
.option("path", "D:\\BigData\\Week10- Apache Spark - In Depth\\bigLog.txt") \
.load()

In [47]:
df1.show(2)

+-----+--------------+---+-----------+
|  _c0|           _c1|_c2|        _c3|
+-----+--------------+---+-----------+
|ERROR| Thu Jun 04 10| 37|51 BST 2015|
| WARN| Sun Nov 06 10| 37|51 GMT 2016|
+-----+--------------+---+-----------+
only showing top 2 rows

In [49]:
df2 = df1.groupBy('_c0') \
.agg(count(fn.col("_c0")).alias("count"))

In [50]:
df2.show(10)

+-----+-------+
|  _c0|  count|
+-----+-------+
|ERROR|5001114|
| WARN|4998886|
+-----+-------+

In [52]:
df1.createOrReplaceTempView("Logs")
df3 = spark.sql("select _c0, count(_c0) as Total from Logs group by _c0")
df3.show()

+-----+-------+
|  _c0|  Total|
+-----+-------+
|ERROR|5001114|
| WARN|4998886|
+-----+-------+