In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder \
.master("local") \
.appName("multi_delimiter_spark_2_4") \
.getOrCreate()

In [3]:
df1 = spark.read \
.format("text") \
.option("inferSchema", True) \
.option("path","D:\BigData\dataset\multi_dilimiter.csv") \
.load()

In [4]:
df1.show()

+------------------+
|             value|
+------------------+
|         Name~|age|
|  Rahul,Dravid~|44|
|Saurav,Ganguly~|45|
|   Chris,Gayle~|40|
|      MS,Dhoni~|38|
|  Rohit,Sharma~|32|
| Kiren,pollard~|36|
|   Virat,Kolhi~|29|
|   Mike,Hussey~|43|
+------------------+

In [5]:
header = df1.first()[0]

In [6]:
schema = header.split("~|")

In [7]:
schema

['Name', 'age']

In [11]:
df2 = df1.filter(df1["value"]!=header).rdd.map(lambda x:x[0].split("~|")).toDF(schema)

In [12]:
df2.show()

+--------------+---+
|          Name|age|
+--------------+---+
|  Rahul,Dravid| 44|
|Saurav,Ganguly| 45|
|   Chris,Gayle| 40|
|      MS,Dhoni| 38|
|  Rohit,Sharma| 32|
| Kiren,pollard| 36|
|   Virat,Kolhi| 29|
|   Mike,Hussey| 43|
+--------------+---+