In [16]:
from pyspark.sql import SparkSession, functions as fn
from pyspark.sql.functions import sum,avg,max,min,mean,count

In [17]:
spark = SparkSession.builder \
.master("local") \
.appName("NumberOfFriendsByAge_DF") \
.getOrCreate()

In [18]:
df1 = spark.read \
.format("csv") \
.option("delimiter", "::") \
.option("inferSchema", True) \
.option("path", "D:\\BigData\\Week9- Apache Spark\\friendsdata.csv") \
.load()

df1.printSchema

In [19]:
df2 = df1.groupBy("_c2") \
.agg(sum("_c3").alias("count"))

In [20]:
df2.show()

+---+-----+
|_c2|count|
+---+-----+
| 31| 2138|
| 65| 1491|
| 53| 1560|
| 34| 1473|
| 28| 2091|
| 26| 4115|
| 27| 1825|
| 44| 3386|
| 22| 1445|
| 47| 2099|
| 52| 3747|
| 40| 4264|
| 20|  825|
| 57| 3106|
| 54| 3615|
| 48| 2814|
| 19| 2346|
| 64| 3376|
| 41| 2417|
| 43| 1614|
+---+-----+
only showing top 20 rows

In [23]:
df1.createOrReplaceTempView("friends")
df3 = spark.sql("select _c2, sum(_c3) as count from friends group by _c2")

In [24]:
df3.show()

+---+-----+
|_c2|count|
+---+-----+
| 31| 2138|
| 65| 1491|
| 53| 1560|
| 34| 1473|
| 28| 2091|
| 26| 4115|
| 27| 1825|
| 44| 3386|
| 22| 1445|
| 47| 2099|
| 52| 3747|
| 40| 4264|
| 20|  825|
| 57| 3106|
| 54| 3615|
| 48| 2814|
| 19| 2346|
| 64| 3376|
| 41| 2417|
| 43| 1614|
+---+-----+
only showing top 20 rows