In [17]:
from pyspark.sql import SparkSession, functions as fn
from pyspark.sql.functions import avg, sum, min, max, mean, count
from pyspark.sql.types import *

In [18]:
spark = SparkSession.builder \
.master("local") \
.appName("premium_customers_df") \
.getOrCreate()

In [19]:
df1 = spark.read \
.format("csv") \
.option("inferSchema", True) \
.option("path", "D:\\BigData\\Week9- Apache Spark\\customerorders.csv") \
.load()

In [39]:
df2 = df1.groupBy("_c0")\
.agg(sum(fn.col('_c2')).cast(IntegerType()).alias("total")) \
.where(fn.col('total')>5000)

In [40]:
df2.show(5)

+---+-----+
|_c0|total|
+---+-----+
| 85| 5503|
| 65| 5140|
| 34| 5330|
| 81| 5112|
| 26| 5250|
+---+-----+
only showing top 5 rows

In [30]:
df1.createOrReplaceTempView("premium")
df3 = spark.sql("select _c0, cast(sum(_c2) as Int) as total from premium group by _c0 having total >5000")
df3.show(5)

+---+-----+
|_c0|total|
+---+-----+
| 85| 5503|
| 65| 5140|
| 34| 5330|
| 81| 5112|
| 26| 5250|
+---+-----+
only showing top 5 rows